<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-user').on('click', function (e) {
            e.preventDefault();

            var userId = $(this).data('id');
            var confirmation = confirm("Apakah Anda yakin ingin menghapus user ini?");

            if (confirmation) {
                // Jika pengguna mengkonfirmasi, arahkan ke halaman hapus
                window.location.href = 'delete.php?id=' + userId;
            }
        });
    });
</script>
</body>

</html>